<c-spinner class="loadingSpinner" *ngIf="!filesAreLoaded"></c-spinner>
<c-row *ngIf="filesAreLoaded" ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>{{contentName}}</strong>
      </c-card-header>
      <c-card-body>
        <table cTable>
          <thead>
            <tr>
              <th scope="col">{{actionName}}</th>
              <th *ngFor="let column of columnsToDisplay">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of files">
              <td>
                <div *ngIf="selectable" class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="{{checkboxPrefix}}{{file.uuid}}" (click)="checkBoxStateChanged($event)">
                  <label class="form-check-label" for="{{checkboxPrefix}}{{file.uuid}}">
                  </label>
                </div>
                <button cButton class="primary" variant="ghost" (click)="openFileDetails(file)">
                  <c-icon *ngIf="!selectable" name="cilMagnifyingGlass" size="2xl"
                          ></c-icon>
                </button>
              </td>
              <th scope="row">{{ file.uuid }}</th>
              <td>{{ file.name }}</td>
              <td>{{ file.description }}</td>
              <td>{{ file.creationDate }}</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<file-details></file-details>
