<c-modal id="filesCreateModal" [visible]="modalFileOpen" (visibleChange)="handleModalFileChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Add a new file</h5>
    <button (click)="toggleModalFile()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>

    <files-table actionName="Select" [files]="availableFiles"></files-table>

  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleModalFile()" cButton color="secondary">
      Close
    </button>
    <button (click)="submitSelection()" cButton color="primary">Ok</button>
  </c-modal-footer>
</c-modal>

