<c-modal id="fileDetailsModal" [visible]="modalFileOpen" (visibleChange)="handleModalFileChange($event)" [fullscreen]="true">
  <c-modal-header>
    <h5 cModalTitle>Pipeline details</h5>
    <button (click)="toggleModalFile()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-card class="mb-4">
      <c-card-body>
        <h3>{{pipeline?.name}}</h3>
        <p class="text-high-emphasis">
          {{pipeline?.description}}
        </p>
        <p class="text-high-emphasis">
          Creation date: {{pipeline?.creationDate}}
        </p>
        <div class="dropdown mb-3">
          <label for="inputDatasets" class="form-label">Input datasets</label>
          <files-table id="inputDatasets" [files]="pipeline.inputDatasets"  ></files-table>
        </div>
        <div class="dropdown mb-3" *ngIf="pipeline.outputDatasets.length != 0">
          <label for="command" class="form-label">Output datasets</label>
          <files-table id="command" [files]="pipeline.outputDatasets"  ></files-table>
        </div>
        <div class="dropdown mb-3">
          <p class="text-high-emphasis">
            Tool: {{pipeline?.command?.toolName}}
          </p>
        </div>
        <div class="dropdown mb-3">
          <p class="text-high-emphasis">
            Command: {{pipeline?.command?.commandString}}
          </p>
        </div>
        <div class="dropdown mb-3" *ngIf="pipeline.blockchainState == 'NOT_SUBMITTED'">
          <button cButton color="primary" (click)="submitPipelineToBlockchain(pipeline)">Submit to Blockchain
          </button>
        </div>
      </c-card-body>
    </c-card>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleModalFile()" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>

<files-create-result-toast></files-create-result-toast>
