<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-callout class="bg-white:dark:bg-transparent" color="info">
      This page lists all the tools available on the service that can be used to run processing pipelines.
    </c-callout>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4" *ngFor="let tool of tools">
      <c-card-body>
        <h3>{{tool.name}}</h3>
        <p class="text-medium-emphasis small">
          {{tool.description}}
        </p>
        <p class="text-medium-emphasis small">
          Website: <a href="{{tool.url}}">{{tool.url}}</a>
        </p>
        <p class="text-medium-emphasis small">
          Documentation: <a href="{{tool.docsReference}}">{{tool.docsReference}} </a>
        </p>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<ng-template #imgPlaceholderTemplate let-orientation>
  <svg
    [cCardImg]="orientation ?? 'top'"
    aria-label="Placeholder: Image cap"
    class="docs-placeholder-img"
    focusable="false"
    height="180"
    preserveAspectRatio="xMidYMid slice"
    role="img"
    width="100%"
    xmlns="http://www.w3.org/2000/svg"
  >
    <title>Placeholder</title>
    <rect fill="#868e96" height="100%" width="100%"></rect>
    <text dominant-baseline="middle" dy=".3em" fill="#dee2e6" text-anchor="middle" x="50%" y="50%">Image cap</text>
  </svg>
</ng-template>

<ng-template #cardBodyTemplate>
  <h5 cCardTitle>Card title</h5>
  <p cCardText>
    Some quick example text to build on the card title and make up the bulk of the card's content.
  </p>
  <button cButton color="primary">Go somewhere</button>
</ng-template>
