<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-body>
                <ng-container *ngTemplateOutlet="liveDemo"></ng-container>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>

<ng-template #liveDemo>
    <button (click)="toggleLiveDemo()" cButton>
        Add File
    </button>
    <c-modal id="liveDemoModal" [visible]="liveDemoVisible" (visibleChange)="handleLiveDemoChange($event)">
        <c-modal-header>
        <h5 cModalTitle>Modal title</h5>
        <button (click)="toggleLiveDemo()" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>Woohoo, you&#39;re reading this text in a modal!</c-modal-body>
        <c-modal-footer>
        <button (click)="toggleLiveDemo()" cButton color="secondary">
            Close
        </button>
        <button cButton color="primary">Save changes</button>
        </c-modal-footer>
    </c-modal>
</ng-template>
