<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>List of Available Files</strong>
      </c-card-header>
      <c-card-body>
        <form cForm [formGroup]="pipelineCreateForm">
          <div class="mb-3 form-group">
            <div class="mb-3 form-group">
              <label cLabel for="name">Name</label>
              <input cFormControl name="name" id="name" type="text" formControlName="name"/>
            </div>
            <div class="mb-3 form-group">
              <label cLabel for="description">Description</label>
              <input cFormControl name="description" id="description" type="text" formControlName="description"/>
            </div>
            <div class="input-datasets-div mb-3 form-group">
              <label cLabel for="inputDatasetList">Input datasets</label>
              <ul class="list-group" id="inputDatasetList">
                <li class="list-group-item" *ngFor="let file of inputDatasets">{{file.uuid}}</li>
              </ul>
              <button cButton class="primary" (click)="openFilePickingModal()">
                Select input datasets
              </button>
            </div>
            <div class="dropdown mb-3 form-group">
                <label cLabel for="toolId">Select the tool</label>
                <select aria-label="Default select example" name="toolId" id="toolId" formControlName="toolId" cSelect>
                  <option *ngFor="let tool of tools" [ngValue]="tool.name">{{tool.name}}</option>
                </select>
            </div>
            <div class="dropdown mb-3 form-group">
              <label cLabel for="commandString">Select the command</label>
                <select aria-label="Default select example" name="commandString" id="commandString" formControlName="commandString" cSelect>
                  <option *ngFor="let command of availableCommands" [ngValue]="command">{{command}}</option>
                </select>
            </div>
          </div>
        </form>

        <button (click)="submit()" cButton color="primary">Ok</button>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<file-selection [availableFiles]="availableInputDatasets"
                (selectedFilesOutput)="inputDatasetsSelected($event)"></file-selection>
<files-create-result-toast></files-create-result-toast>
