<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>List of Available Files</strong>
      </c-card-header>
      <c-card-body>
        <form cForm [formGroup]="pipelineCreateForm">
          <div class="mb-3 form-group">
            <div class="input-datasets-div">
              <label cLabel for="inputDatasetList">Input datasets</label>
              <ul class="list-group" id="inputDatasetList">
                <li class="list-group-item" *ngFor="let file of inputDatasets">{{file.uuid}}</li>
              </ul>
              <button cButton class="primary" (click)="openFilePickingModal()">
                Select input datasets
              </button>
            </div>
            <div class="script-div">
              <label cLabel for="script">Select script file to upload</label>
              <input cFormControl name="script" id="script" multiple type="file" formControlName="file"
                     (change)="scriptFileChanged($event)"/>
            </div>
          </div>
          <div class="mb-3 form-group">
            <label cLabel for="description">Description</label>
            <input cFormControl name="description" id="description" type="text" formControlName="description"/>
          </div>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<file-selection [availableFiles]="availableInputDatasets"
                (selectedFilesOutput)="inputDatasetsSelected($event)"></file-selection>
